<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <div class="container mt-5">
        <h2>Login Success</h2>
            <a href="//127.0.0.1:8003/get_update_info/{{pk}}">
                <button type="button" class="btn btn-primary">Account update</button>
            </a>
            <a href="//127.0.0.1:8000">
                <button type="button" class="btn btn-primary">Back to Home</button>
            </a>
 
    
    </div>
</body>
</html>
