<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Add Bootstrap for styling and modal -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
ul.messages {
    list-style-type: none;
    padding: 0;
}

ul.messages li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

ul.messages li.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
</style>
<body>

    
<div class="container mt-5">
    <h2>Login</h2>
    <form id="loginForm" method = "POST" action= "//127.0.0.1:8000/">
        {% csrf_token%}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>

        {% comment %} <button type="button" class="btn btn-primary" onclick="sendOtp()">Send OTP</button> {% endcomment %}
        <a href="//127.0.0.1:8001/">
        <button type="button" class="btn btn-primary">Register</button>
        </a>
        <a href="//127.0.0.1:8002/">
            <button type="button" class="btn btn-primary">Forget Password</button>
        </a>
            </form>

</div>
</body>
</html>
