<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Add Bootstrap for styling and modal -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<div class="container mt-5">
    <h2>Reset Password</h2>
    <form method = "POST" action = 'http://127.0.0.1:8002/'>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" >Send OTP</button>
       
        <a href="//127.0.0.1:8000">
            <button type="button" class="btn btn-primary">Back to Home</button>
        </a>
    </div>
            </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
